@{
    ViewData["Title"] = "Log"; // 뷰에서 사용할 타이틀을 ViewData를 통해 설정
}
<h1>@ViewData["Title"]</h1> <!-- ViewData에 설정된 타이틀을 표시 -->

<p>Use this page to detail your site's privacy policy.</p> <!-- 개인정보 처리방침을 설명하는 텍스트 -->
